static/html/pages/pageAbout/pageAbout.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/map/map.js"></script>
    <script src="../../../js/svg/plan.js"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <nav>
          <ul class="main-nav">
            <li><span>Главная</span></li>
            <li class="has-menu"><a href="">О проекте</a><span>Условия покупки</span>
              <ul class="submenu">
                <li><a href="">Условия покупки</a></li>
                <li><a href="">Отделка</a></li>
                <li><a href="">Ход строительства</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Акции</a></li>
                <li><a href="">Документация</a></li>
              </ul>
            </li>
            <li><a href="">Квартиры</a></li>
          </ul><a href="" class="main-logo"></a>
          <ul class="main-nav">
            <li class="header__contacts"><a href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/call-request.html" class="fancybox.ajax fancy header__contacts-phone">+7 (812)<strong>640-22-77</strong></a></li>
            <li><a href="">Инфраструктура</a></li>
            <li><a href="">Философия</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </nav>
      </header>
      <section class="about-facts">
        <div class="width-wrap">
          <h2>все для правильной жизни</h2>
          <p>ЖК&nbsp;&laquo;Yolkki Village&raquo;&nbsp;&mdash; это комплексно сформированная по&nbsp;современным стандартам жилая среда<br> в масштабах квартальной застройки с автономными коммуникациями и собственной развитой инфраструктурой.<br>Комплекс включает в себя:
          </p>
          <ul class="facts-list">
            <li><span style="color: #ea0009">2 432</span>
              <p>Квартир,<br>строительство в 4 очереди:<small>Общая площадь 101 000 м<sup>2</sup></small>
              </p>
            </li>
            <li><span style="color: #5ea304">2 450<small>м<sup>2</sup></small></span>
              <p>Встроенных коммерческих<br>помещений
              </p>
            </li>
            <li><span style="color: #0089af">240</span>
              <p>Мест в составе квартала<br>в школе-сад
              </p>
            </li>
          </ul>
        </div>
      </section>
      <section class="about-vantage">
        <div class="width-wrap">
          <h2>Квартиры в «Елках» — это:</h2>
          <ul class="vantage-list justifyed">
            <li>
              <div class="vantage-list__img"><img src="../../../img/rnd-1.png" alt /></div>
              <h3>Свой огороженный<br>палисадник
              </h3>
              <p>На 1-ых этажах со стороны дворов<br>уникальные квартиры с собственными огороженными палисадниками площадью от 30 до 40 кв.м, с выходом прямо<br>из квартиры
              </p>
            </li>
            <li>
              <div class="vantage-list__img"><img src="../../../img/rnd-2.png" alt /></div>
              <h3>Удобная планировка<br>квартир
              </h3>
              <p>В&nbsp;квартирах&nbsp;&mdash; минимум несущих стен (только пилоны), что дает их&nbsp;владельцам возможности для различных перепланировок</p>
            </li>
            <li>
              <div class="vantage-list__img"><img src="../../../img/rnd-3.png" alt /></div>
              <h3>Готовая отделка<br>помещений
              </h3>
              <p>Часть квартир - с «белой» отделкой.<br>Для тех, кто не готов тратить время<br>и силы на ремонт. Никакого строительного шума и мусора<br>на этаже
              </p>
            </li>
          </ul>
        </div>
      </section>
      <div class="about-inner">
        <h2>Внутренний дворик</h2><span class="about-inner--text">Фото 1 из 3</span>
        <div data-nav="thumbs" data-transition="slide" data-margin="30" class="fotorama"><img data-fit="cover" data-minwidth="761" data-ratio="100/100" src="../../../img/cars.jpg" alt /><img data-fit="cover" data-minwidth="761" data-ratio="100/100" src="../../../img/chair.jpg" alt /><img data-fit="cover" data-minwidth="761" data-ratio="100/100" src="../../../img/render.jpg" alt /></div>
      </div>
      <div class="about-architecture">
        <div class="width-wrap">
          <h2>Европейская<br>архитектура
          </h2>
          <ul class="architecture justifyed">
            <li class="architecture__el-s">
              <div class="architecture__el--block">
                <div class="architecture__el--img"><img src="../../../img/rnd-5.png" alt /></div>
                <h3>КРАСОТА</h3>
                <p>Яркий скандинавский стиль в лучших традициях европейской архитектуры: для жизни и отдыха</p>
              </div>
              <div class="architecture__el--block">
                <div class="architecture__el--img"><img src="../../../img/rnd-7.png" alt /></div>
                <h3>УДОБСТВО</h3>
                <p>Яркие освещенные входные группы с навесами, оборудованные для колясок и людей с ограниченными возможностями (пандусы, перила)</p>
              </div>
            </li>
            <li class="architecture__el-l">
              <div>
                <div class="architecture__el--img"><img src="../../../img/rnd-4.png" alt /></div>
                <p>Европейская архитектура отличается от других своим многообразием, сложностью строения, в основном роскошью</p>
              </div>
            </li>
            <li class="architecture__el-s">
              <div class="architecture__el--block">
                <div class="architecture__el--img"><img src="../../../img/rnd-6.png" alt /></div>
                <h3>РАЗНООБРАЗИЕ</h3>
                <p>Гармоничная этажность зданий (3-4-6-8 этажей в динамике с холмистым рельефом местности</p>
              </div>
              <div class="architecture__el--block">
                <div class="architecture__el--img"><img src="../../../img/rnd-8.png" alt /></div>
                <h3>КОМФОРТ</h3>
                <p>Ограничение доступа для автомобилей во внутридворовые территории. Стоянки оборудованы с внешней стороны домов, вдоль улиц</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="about-location">
        <div class="width-wrap">
          <h2>Расположение</h2>
          <p>Комплекс находится в непосредственной близости от города в окружении полей, лесов, озер,<br>вблизи новой современной автотрассы, всего в 10 км от КАД и МЕГА Парнас.
          </p>
          <div class="location-map">
            <div class="map-far draggable"></div>
            <div class="map-close draggable hidden-block"></div>
            <div class="buttons">
              <div class="plus"></div>
              <div class="minus"></div>
            </div>
            <p class="label">ЖК «Yolkki» в 10 км от «МЕГА ПАРНАС»</p>
          </div>
        </div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/about.jpg",opacity: 0.5,top: -40,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap">
          <div class="justifyed">
            <ul class="footer__social">
              <li><a href="" class="footer__social-vk">
                  <div class="ico"></div></a></li>
              <li><a href="" class="footer__social-in">
                  <div class="ico"></div></a></li>
              <li><a href="" class="footer__social-fb">
                  <div class="ico"></div></a></li>
            </ul>
            <div class="footer__sber"><span>Партнер по ипотечному кредитованию</span><img src="../../../img/icon--sber.jpg" alt /></div><a href="tel:88126402277" class="footer__phone">+7 (812) 640-22-77</a>
            <div class="footer__sber"><span>Брокер проекта</span><img src="../../../img/icon--aida.jpg" alt /></div>
            <div class="footer__made"><span>Сайт развивает —</span><a href="http://irbis.ru/">IRBIS</a></div>
          </div><span class="footer__copyright">ДАННЫЙ САЙТ НОСИТ ИСКЛЮЧИТЕЛЬНО ИНФОРМАЦИОННЫЙ ХАРАКТЕР И НЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ, ОПРЕДЕЛЯЕМОЙ ПОЛОЖЕНИЯМИ СТАТЬИ 437 ГРАЖДАНСКОГО КОДЕКСА РФ.</span>
        </div>
      </footer>
    </div>
  </body>
</html>

static/source/jade/html/pages/pageAbout/pageAbout.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.about-facts
        .width-wrap
            h2 все для правильной жизни

            p ЖК&nbsp;&laquo;Yolkki Village&raquo;&nbsp;&mdash; это комплексно сформированная по&nbsp;современным стандартам жилая среда
                br
                = " в масштабах квартальной застройки с автономными коммуникациями и собственной развитой инфраструктурой."
                br
                = "Комплекс включает в себя:"

            ul.facts-list
                li
                    span(style="color: #ea0009") 2 432

                    p Квартир,
                        br
                        = "строительство в 4 очереди:"
                        small Общая площадь 101 000 м
                            sup 2

                li
                    span(style="color: #5ea304") 2 450
                        small м
                            sup 2

                    p Встроенных коммерческих
                        br
                        = "помещений"


                li
                    span(style="color: #0089af") 240

                    p Мест в составе квартала
                        br
                        = "в школе-сад"

    section.about-vantage
        .width-wrap
            h2 Квартиры в «Елках» — это:
            ul.vantage-list.justifyed
                li
                    .vantage-list__img
                        img(src='../../../img/rnd-1.png' alt /)

                    h3 Свой огороженный
                        br
                        = "палисадник"

                    p На 1-ых этажах со стороны дворов
                        br
                        = "уникальные квартиры с собственными огороженными палисадниками площадью от 30 до 40 кв.м, с выходом прямо"
                        br
                        = "из квартиры"

                li
                    .vantage-list__img
                        img(src='../../../img/rnd-2.png' alt /)

                    h3 Удобная планировка
                        br
                        = "квартир"

                    p В&nbsp;квартирах&nbsp;&mdash; минимум несущих стен (только пилоны), что дает их&nbsp;владельцам возможности для различных перепланировок

                li
                    .vantage-list__img
                        img(src='../../../img/rnd-3.png' alt /)

                    h3 Готовая отделка
                        br
                        = "помещений"

                    p Часть квартир - с «белой» отделкой.
                        br
                        = "Для тех, кто не готов тратить время"
                        br
                        = "и силы на ремонт. Никакого строительного шума и мусора"
                        br
                        = "на этаже"

    .about-inner
        h2 Внутренний дворик

        span.about-inner--text Фото 1 из 3

        div(data-nav="thumbs" data-transition="slide" data-margin="30").fotorama
            img(data-fit="cover" data-minwidth="761" data-ratio="100/100" src='../../../img/cars.jpg' alt /)
            img(data-fit="cover" data-minwidth="761" data-ratio="100/100" src='../../../img/chair.jpg' alt /)
            img(data-fit="cover" data-minwidth="761" data-ratio="100/100" src='../../../img/render.jpg' alt /)

    .about-architecture
        .width-wrap
            h2 Европейская
                br
                ="архитектура"

            ul.architecture.justifyed
                li.architecture__el-s
                    div.architecture__el--block
                        .architecture__el--img
                            img(src="../../../img/rnd-5.png" alt /)

                        h3 КРАСОТА

                        p Яркий скандинавский стиль в лучших традициях европейской архитектуры: для жизни и отдыха


                    div.architecture__el--block
                        .architecture__el--img
                            img(src="../../../img/rnd-7.png" alt /)

                        h3 УДОБСТВО

                        p Яркие освещенные входные группы с навесами, оборудованные для колясок и людей с ограниченными возможностями (пандусы, перила)

                li.architecture__el-l
                    div
                        .architecture__el--img
                            img(src="../../../img/rnd-4.png" alt /)

                        p Европейская архитектура отличается от других своим многообразием, сложностью строения, в основном роскошью

                li.architecture__el-s
                    div.architecture__el--block
                        .architecture__el--img
                            img(src="../../../img/rnd-6.png" alt /)

                        h3 РАЗНООБРАЗИЕ

                        p Гармоничная этажность зданий (3-4-6-8 этажей в динамике с холмистым рельефом местности


                    div.architecture__el--block
                        .architecture__el--img
                            img(src="../../../img/rnd-8.png" alt /)

                        h3 КОМФОРТ

                        p Ограничение доступа для автомобилей во внутридворовые территории. Стоянки оборудованы с внешней стороны домов, вдоль улиц

    .about-location
        .width-wrap
            h2 Расположение

            p Комплекс находится в непосредственной близости от города в окружении полей, лесов, озер,
                br
                = "вблизи новой современной автотрассы, всего в 10 км от КАД и МЕГА Парнас."

            .location-map
                .map-far.draggable
                .map-close.draggable.hidden-block

                .buttons
                    .plus
                    .minus

                p.label ЖК «Yolkki» в 10 км от «МЕГА ПАРНАС»



    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/about.jpg",opacity: 0.5,top: -40,left: 0,center: false,clip: true,show: false});});
