static/source/jade/html/pages/pageAbout/pageAbout - копия.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.about-stager--title
        .width-wrap
            h2 1 очередь
            span Сдача 4 квартал 2017

    section.about-scheme
        .width-wrap
            h3 2015 год - 15% готовность очереди
            .timeline-box.justifyed
                div(data-url="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html").timeline-box__el.yellow-tree.color
                    svg(viewBox="562.2 70.4 279.7 454.4" style="width:30px;height:50px;").year-label__icon
                        polygon(fill="#ffde05" points="841.9,485.8 702.1,70.4 562.2,485.8 680.5,455.5 680.5,524.9 723.6,524.9 723.6,454.4 ")
                    span(data-text="Сентябрь 2015") Сентябрь
                div(data-url="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html").timeline-box__el.color
                    span(data-text="Октябрь 2015") Октябрь
                div(data-url="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html").timeline-box__el.active.color
                    span(data-text="Ноябрь 2015") Ноябрь
                div(data-url="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html").timeline-box__el
                    span(data-text="Декабрь 2015") Декабрь
                .timeline-box__el.disable.gray-tree
                    span 2016
                        svg(viewBox="562.2 70.4 279.7 454.4" style="width:33px;height:55.00000000000001px;").year-label__icon
                            path(fill="#d1d1d1" d="M702.1,88.5l130.5,388.6l-107.8-28.5c-0.6,0-1.2,0-1.7,0c-1.2,0-2.3,0.6-3.5,1.2c-1.2,1.2-2.3,2.9-2.3,4.7 V519h-31.5v-63.5c0-1.7-0.6-3.5-2.3-4.7c-1.2-0.6-2.3-1.2-3.5-1.2c-0.6,0-1.2,0-1.7,0l-107.2,28L702.1,88.5 M702.1,70.4L562.2,485.8 l118.3-30.3v69.3h43.1v-70.5l118.3,31.5L702.1,70.4L702.1,70.4z" )
                    span 2017
                        svg(viewBox="562.2 70.4 279.7 454.4" style="width:36px;height:60px;").year-label__icon
                            path(fill="#d1d1d1" d="M702.1,88.5l130.5,388.6l-107.8-28.5c-0.6,0-1.2,0-1.7,0c-1.2,0-2.3,0.6-3.5,1.2c-1.2,1.2-2.3,2.9-2.3,4.7 V519h-31.5v-63.5c0-1.7-0.6-3.5-2.3-4.7c-1.2-0.6-2.3-1.2-3.5-1.2c-0.6,0-1.2,0-1.7,0l-107.2,28L702.1,88.5 M702.1,70.4L562.2,485.8 l118.3-30.3v69.3h43.1v-70.5l118.3,31.5L702.1,70.4L702.1,70.4z")

                span.timeline-line
                span.timeline-triangle

    section.about-photo
        .width-wrap
            .about-photo--text
                span.month Ноябрь 2015
                span.number Фото 1 из 3

            .fotorama-wrap
                div(data-nav="thumbs" data-transition="slide" data-allowfullscreen="true").fotorama
                    img(data-fit="cover" data-minwidth="960" src='../../../img/img--sept-1.jpg' alt /)
                    img(data-fit="cover" data-minwidth="960" src='../../../img/img--sept-2.jpg' alt /)
                    img(data-fit="cover" data-minwidth="960" src='../../../img/img--sept-3.jpg' alt /)

    section.about-info
        .width-wrap
            h2 Информация о ходе строительства

            h4 Ноябрь 2015 года

            p На сегодняшний день на строительной площадке ЖК «Yolkki Village» ведутся следующие работы:
            p  I очередь:
            p 1й корпус
            p 1-4я секции – закончено бетонирование фундаментной плиты.
            p 1я секция – закончено армирование стен подвала; на 50% выполнено бетонирование  стен  подвала.
            p План работ на декабрь 2015 года:


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/stage.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});

static/html/pages/pageAbout/pageAbout - копия.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/map/map.js"></script>
    <script src="../../../js/svg/plan.js"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <nav>
          <ul class="main-nav">
            <li><span>Главная</span></li>
            <li class="has-menu"><a href="">О проекте</a><span>Условия покупки</span>
              <ul class="submenu">
                <li><a href="">Условия покупки</a></li>
                <li><a href="">Отделка</a></li>
                <li><a href="">Ход строительства</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Акции</a></li>
                <li><a href="">Документация</a></li>
              </ul>
            </li>
            <li><a href="">Квартиры</a></li>
          </ul><a href="" class="main-logo"></a>
          <ul class="main-nav">
            <li class="header__contacts"><a href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/call-request.html" class="fancybox.ajax fancy header__contacts-phone">+7 (812)<strong>640-22-77</strong></a></li>
            <li><a href="">Инфраструктура</a></li>
            <li><a href="">Философия</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </nav>
      </header>
      <section class="about-stager--title">
        <div class="width-wrap">
          <h2>1 очередь</h2><span>Сдача 4 квартал 2017</span>
        </div>
      </section>
      <section class="about-scheme">
        <div class="width-wrap">
          <h3>2015 год - 15% готовность очереди</h3>
          <div class="timeline-box justifyed">
            <div data-url="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html" class="timeline-box__el yellow-tree color">
              <svg viewBox="562.2 70.4 279.7 454.4" style="width:30px;height:50px;" class="year-label__icon">
                <polygon fill="#ffde05" points="841.9,485.8 702.1,70.4 562.2,485.8 680.5,455.5 680.5,524.9 723.6,524.9 723.6,454.4 "></polygon>
              </svg><span data-text="Сентябрь 2015">Сентябрь</span>
            </div>
            <div data-url="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html" class="timeline-box__el color"><span data-text="Октябрь 2015">Октябрь</span></div>
            <div data-url="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html" class="timeline-box__el active color"><span data-text="Ноябрь 2015">Ноябрь</span></div>
            <div data-url="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html" class="timeline-box__el"><span data-text="Декабрь 2015">Декабрь</span></div>
            <div class="timeline-box__el disable gray-tree"><span>2016
                <svg viewBox="562.2 70.4 279.7 454.4" style="width:33px;height:55.00000000000001px;" class="year-label__icon">
                  <path fill="#d1d1d1" d="M702.1,88.5l130.5,388.6l-107.8-28.5c-0.6,0-1.2,0-1.7,0c-1.2,0-2.3,0.6-3.5,1.2c-1.2,1.2-2.3,2.9-2.3,4.7 V519h-31.5v-63.5c0-1.7-0.6-3.5-2.3-4.7c-1.2-0.6-2.3-1.2-3.5-1.2c-0.6,0-1.2,0-1.7,0l-107.2,28L702.1,88.5 M702.1,70.4L562.2,485.8 l118.3-30.3v69.3h43.1v-70.5l118.3,31.5L702.1,70.4L702.1,70.4z"></path>
                </svg></span><span>2017
                <svg viewBox="562.2 70.4 279.7 454.4" style="width:36px;height:60px;" class="year-label__icon">
                  <path fill="#d1d1d1" d="M702.1,88.5l130.5,388.6l-107.8-28.5c-0.6,0-1.2,0-1.7,0c-1.2,0-2.3,0.6-3.5,1.2c-1.2,1.2-2.3,2.9-2.3,4.7 V519h-31.5v-63.5c0-1.7-0.6-3.5-2.3-4.7c-1.2-0.6-2.3-1.2-3.5-1.2c-0.6,0-1.2,0-1.7,0l-107.2,28L702.1,88.5 M702.1,70.4L562.2,485.8 l118.3-30.3v69.3h43.1v-70.5l118.3,31.5L702.1,70.4L702.1,70.4z"></path>
                </svg></span></div><span class="timeline-line"></span><span class="timeline-triangle"></span>
          </div>
        </div>
      </section>
      <section class="about-photo">
        <div class="width-wrap">
          <div class="about-photo--text"><span class="month">Ноябрь 2015</span><span class="number">Фото 1 из 3</span></div>
          <div class="fotorama-wrap">
            <div data-nav="thumbs" data-transition="slide" data-allowfullscreen="true" class="fotorama"><img data-fit="cover" data-minwidth="960" src="../../../img/img--sept-1.jpg" alt /><img data-fit="cover" data-minwidth="960" src="../../../img/img--sept-2.jpg" alt /><img data-fit="cover" data-minwidth="960" src="../../../img/img--sept-3.jpg" alt /></div>
          </div>
        </div>
      </section>
      <section class="about-info">
        <div class="width-wrap">
          <h2>Информация о ходе строительства</h2>
          <h4>Ноябрь 2015 года</h4>
          <p>На сегодняшний день на строительной площадке ЖК «Yolkki Village» ведутся следующие работы:</p>
          <p> I очередь:</p>
          <p>1й корпус</p>
          <p>1-4я секции – закончено бетонирование фундаментной плиты.</p>
          <p>1я секция – закончено армирование стен подвала; на 50% выполнено бетонирование  стен  подвала.</p>
          <p>План работ на декабрь 2015 года:</p>
        </div>
      </section>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/stage.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap">
          <div class="justifyed">
            <ul class="footer__social">
              <li><a href="" class="footer__social-vk">
                  <div class="ico"></div></a></li>
              <li><a href="" class="footer__social-in">
                  <div class="ico"></div></a></li>
              <li><a href="" class="footer__social-fb">
                  <div class="ico"></div></a></li>
            </ul>
            <div class="footer__sber"><span>Партнер по ипотечному кредитованию</span><img src="../../../img/icon--sber.jpg" alt /></div><a href="tel:88126402277" class="footer__phone">+7 (812) 640-22-77</a>
            <div class="footer__sber"><span>Брокер проекта</span><img src="../../../img/icon--aida.jpg" alt /></div>
            <div class="footer__made"><span>Сайт развивает —</span><a href="http://irbis.ru/">IRBIS</a></div>
          </div><span class="footer__copyright">ДАННЫЙ САЙТ НОСИТ ИСКЛЮЧИТЕЛЬНО ИНФОРМАЦИОННЫЙ ХАРАКТЕР И НЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ, ОПРЕДЕЛЯЕМОЙ ПОЛОЖЕНИЯМИ СТАТЬИ 437 ГРАЖДАНСКОГО КОДЕКСА РФ.</span>
        </div>
      </footer>
    </div>
  </body>
</html>
