static/source/jade/html/pages/pageAbout/pageNews.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.about-news
        .width-wrap
            ul.news-list
                li
                    a(href="")
                        .news-list--img
                            img(src="../../../img/img--news-1.jpg" alt /)
                        h3                              Квартиры с отделкой как способ сэкономить
                        p                           ГК «Айдадом» приняло участие в выставке-семинаре для населения «Жилищный проект», прошедшем в Петербургском СКК 3-4 октября. (...)
                        time                              05 октября 2015

                li
                    a(href="")
                        .news-list--img
                            img(src="../../../img/img--news-2.jpg" alt /)
                        h3                              Квартиры с отделкой как способ сэкономить
                        p                           ГК «Айдадом» приняло участие в выставке-семинаре для населения «Жилищный проект», прошедшем в Петербургском СКК 3-4 октября. (...)
                        time                              05 октября 2015

                li
                    a(href="")
                        .news-list--img
                            img(src="../../../img/img--news-3.jpg" alt /)
                        h3                              Квартиры с отделкой как способ сэкономить
                        p                           ГК «Айдадом» приняло участие в выставке-семинаре для населения «Жилищный проект», прошедшем в Петербургском СКК 3-4 октября. (...)
                        time                              05 октября 2015

                li
                    a(href="")
                        .news-list--img
                            img(src="../../../img/img--news-4.png" alt /)
                        h3                              Квартиры с отделкой как способ сэкономить
                        p                           ГК «Айдадом» приняло участие в выставке-семинаре для населения «Жилищный проект», прошедшем в Петербургском СКК 3-4 октября. (...)
                        time                              05 октября 2015


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/payment.jpg",opacity: 0.5,top: -40,left: 0,center: false,clip: true,show: false});});

static/html/pages/pageAbout/pageNews.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/map/map.js"></script>
    <script src="../../../js/svg/plan.js"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <nav>
          <ul class="main-nav">
            <li><span>Главная</span></li>
            <li class="has-menu"><a href="">О проекте</a><span>Условия покупки</span>
              <ul class="submenu">
                <li><a href="">Условия покупки</a></li>
                <li><a href="">Отделка</a></li>
                <li><a href="">Ход строительства</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Акции</a></li>
                <li><a href="">Документация</a></li>
              </ul>
            </li>
            <li><a href="">Квартиры</a></li>
          </ul><a href="" class="main-logo"></a>
          <ul class="main-nav">
            <li class="header__contacts"><a href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/call-request.html" class="fancybox.ajax fancy header__contacts-phone">+7 (812)<strong>640-22-77</strong></a></li>
            <li><a href="">Инфраструктура</a></li>
            <li><a href="">Философия</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </nav>
      </header>
      <section class="about-news">
        <div class="width-wrap">
          <ul class="news-list">
            <li><a href="">
                <div class="news-list--img"><img src="../../../img/img--news-1.jpg" alt /></div>
                <h3>                             Квартиры с отделкой как способ сэкономить</h3>
                <p>                          ГК «Айдадом» приняло участие в выставке-семинаре для населения «Жилищный проект», прошедшем в Петербургском СКК 3-4 октября. (...)</p>
                <time>                             05 октября 2015</time></a></li>
            <li><a href="">
                <div class="news-list--img"><img src="../../../img/img--news-2.jpg" alt /></div>
                <h3>                             Квартиры с отделкой как способ сэкономить</h3>
                <p>                          ГК «Айдадом» приняло участие в выставке-семинаре для населения «Жилищный проект», прошедшем в Петербургском СКК 3-4 октября. (...)</p>
                <time>                             05 октября 2015</time></a></li>
            <li><a href="">
                <div class="news-list--img"><img src="../../../img/img--news-3.jpg" alt /></div>
                <h3>                             Квартиры с отделкой как способ сэкономить</h3>
                <p>                          ГК «Айдадом» приняло участие в выставке-семинаре для населения «Жилищный проект», прошедшем в Петербургском СКК 3-4 октября. (...)</p>
                <time>                             05 октября 2015</time></a></li>
            <li><a href="">
                <div class="news-list--img"><img src="../../../img/img--news-4.png" alt /></div>
                <h3>                             Квартиры с отделкой как способ сэкономить</h3>
                <p>                          ГК «Айдадом» приняло участие в выставке-семинаре для населения «Жилищный проект», прошедшем в Петербургском СКК 3-4 октября. (...)</p>
                <time>                             05 октября 2015</time></a></li>
          </ul>
        </div>
      </section>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/payment.jpg",opacity: 0.5,top: -40,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap">
          <div class="justifyed">
            <ul class="footer__social">
              <li><a href="" class="footer__social-vk">
                  <div class="ico"></div></a></li>
              <li><a href="" class="footer__social-in">
                  <div class="ico"></div></a></li>
              <li><a href="" class="footer__social-fb">
                  <div class="ico"></div></a></li>
            </ul>
            <div class="footer__sber"><span>Партнер по ипотечному кредитованию</span><img src="../../../img/icon--sber.jpg" alt /></div><a href="tel:88126402277" class="footer__phone">+7 (812) 640-22-77</a>
            <div class="footer__sber"><span>Брокер проекта</span><img src="../../../img/icon--aida.jpg" alt /></div>
            <div class="footer__made"><span>Сайт развивает —</span><a href="http://irbis.ru/">IRBIS</a></div>
          </div><span class="footer__copyright">ДАННЫЙ САЙТ НОСИТ ИСКЛЮЧИТЕЛЬНО ИНФОРМАЦИОННЫЙ ХАРАКТЕР И НЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ, ОПРЕДЕЛЯЕМОЙ ПОЛОЖЕНИЯМИ СТАТЬИ 437 ГРАЖДАНСКОГО КОДЕКСА РФ.</span>
        </div>
      </footer>
    </div>
  </body>
</html>
