static/source/jade/html/pages/pageAbout/pageBuy.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.about-buy
        .width-wrap
            h2 Условия покупки

            ul.condition.justifyed
                li
                    img(src="../../../img/buy-1.png" alt /)
                    div
                        h3 УСЛОВИЯ ПРЕДОСТАВЛЕНИЯ РАССРОЧКИ
                        ul.text
                            li - Рассрочка предоставляется до&nbsp;окончания строительства (3&nbsp;квартал 2017г.)
                            li - Минимальный первоначальный взнос&nbsp;&mdash; 30%

                li
                    img(src="../../../img/buy-2.png" alt /)
                    div
                        h3 ЕДИНОВРЕМЕННАЯ 100% ОПЛАТА
                        ul.text
                            li - Продажа с&nbsp;использованием ипотечного кредита приравнивается к&nbsp;продаже с&nbsp;единовременной оплатой;
                            li - Продажа с&nbsp;внесением 80&nbsp;% стоимости квартиры и&nbsp;более приравнивается к&nbsp;продаже с&nbsp;единовременной оплатой

                li
                    img(src="../../../img/buy-3.png" alt /)
                    div
                        h3 ИПОТЕКА
                        ul.text
                            li
                                img(src="../../../img/sber.png" alt /)
                                = "Ипотечная программа от лидера ипотечного кредитования в России"
                            li - Минимальная ставка 11,4%
                            li - Минимальный первоначальный взнос 20% от стоимости квартиры

            h2 Рассрочка

            table.payment
                tr
                    th Название программы
                    th Срок
                    th Минимальный первоначальный взнос
                    th Ежемесячный платеж
                    th Последний платеж
                    th Увеличение стоимости

                tr
                    td Стандартная
                    td До марта 2017
                    td 30%
                    td Остаток, деленный на количество месяцев рассрочки
                    td Нет
                    td Нет

                tr
                    td Низкий старт
                    td До марта 2017
                    td 20%
                    td Студия  - 15 000 рублей
                        br
                        = "Остальные квартиры - 20 000 рублей"
                    td Остаток, равный цене квартиры за минусом внесенных денежных средств
                    td +15% на остаток

            h2 Кредитные программы

            table.credit
                tr
                    th
                    th Ипотека с государственной поддержкой

                tr
                    td Процентная ставка
                    td 11,40% *
                        br
                        ="*Ставка фиксируется на весь срок действия кредитного договора. В случае нарушения условия о ежегодном продлении страхования жизни и здоровья заемщика ставка увеличивается до 12.4% годовых "

                tr
                    td Первый взнос
                    td 20% от стоимости квартиры

                tr
                    td Сумма кредита
                    td От 300 000 до 3 000 000 руб.

                tr
                    td Срок кредита
                    td от 12 месяцев до 30 лет (включительно)

                tr
                    td Возраст
                    td От 21 до 60 лет (муж.)/55 лет (жен)

                tr
                    td Гражданство
                    td Российская Федерация

                tr
                    td Регистрация
                    td Постоянная регистрация, фактическое место жительства и постоянное место работы в любом регионе присутствия Банка

                tr
                    td Стаж работы
                    td не менее 6 месяцев* на текущем месте работы и не менее 1 года общего стажа за последние 5 лет
                        br
                        ="(*На клиентов, получающих зарплату на счет в Сбербанке, это требование не распространяется) "


                tr
                    td Доп.комментарии
                    td Комиссия за выдачу кредита отсутствует. Дополнительные расходы:
                        br
                        ="· Страхование (тарифы зависят от индивидуальных особенностей заемщика);"
                        br
                        ="· нотариальное заверение документов"

    section.about-request
        .width-wrap
            a(href="" class="fancybox.ajax").fancy
                .ico
                span Заявка
                    br
                    ="на кредит"

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/payment.jpg",opacity: 0.5,top: -40,left: 0,center: false,clip: true,show: false});});

static/html/pages/pageAbout/pageBuy.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/map/map.js"></script>
    <script src="../../../js/svg/plan.js"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <nav>
          <ul class="main-nav">
            <li><span>Главная</span></li>
            <li class="has-menu"><a href="">О проекте</a><span>Условия покупки</span>
              <ul class="submenu">
                <li><a href="">Условия покупки</a></li>
                <li><a href="">Отделка</a></li>
                <li><a href="">Ход строительства</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Акции</a></li>
                <li><a href="">Документация</a></li>
              </ul>
            </li>
            <li><a href="">Квартиры</a></li>
          </ul><a href="" class="main-logo"></a>
          <ul class="main-nav">
            <li class="header__contacts"><a href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/call-request.html" class="fancybox.ajax fancy header__contacts-phone">+7 (812)<strong>640-22-77</strong></a></li>
            <li><a href="">Инфраструктура</a></li>
            <li><a href="">Философия</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </nav>
      </header>
      <section class="about-buy">
        <div class="width-wrap">
          <h2>Условия покупки</h2>
          <ul class="condition justifyed">
            <li><img src="../../../img/buy-1.png" alt />
              <div>
                <h3>УСЛОВИЯ ПРЕДОСТАВЛЕНИЯ РАССРОЧКИ</h3>
                <ul class="text">
                  <li>- Рассрочка предоставляется до&nbsp;окончания строительства (3&nbsp;квартал 2017г.)</li>
                  <li>- Минимальный первоначальный взнос&nbsp;&mdash; 30%</li>
                </ul>
              </div>
            </li>
            <li><img src="../../../img/buy-2.png" alt />
              <div>
                <h3>ЕДИНОВРЕМЕННАЯ 100% ОПЛАТА</h3>
                <ul class="text">
                  <li>- Продажа с&nbsp;использованием ипотечного кредита приравнивается к&nbsp;продаже с&nbsp;единовременной оплатой;</li>
                  <li>- Продажа с&nbsp;внесением 80&nbsp;% стоимости квартиры и&nbsp;более приравнивается к&nbsp;продаже с&nbsp;единовременной оплатой</li>
                </ul>
              </div>
            </li>
            <li><img src="../../../img/buy-3.png" alt />
              <div>
                <h3>ИПОТЕКА</h3>
                <ul class="text">
                  <li><img src="../../../img/sber.png" alt />Ипотечная программа от лидера ипотечного кредитования в России
                  </li>
                  <li>- Минимальная ставка 11,4%</li>
                  <li>- Минимальный первоначальный взнос 20% от стоимости квартиры</li>
                </ul>
              </div>
            </li>
          </ul>
          <h2>Рассрочка</h2>
          <table class="payment">
            <tr>
              <th>Название программы</th>
              <th>Срок</th>
              <th>Минимальный первоначальный взнос</th>
              <th>Ежемесячный платеж</th>
              <th>Последний платеж</th>
              <th>Увеличение стоимости</th>
            </tr>
            <tr>
              <td>Стандартная</td>
              <td>До марта 2017</td>
              <td>30%</td>
              <td>Остаток, деленный на количество месяцев рассрочки</td>
              <td>Нет</td>
              <td>Нет</td>
            </tr>
            <tr>
              <td>Низкий старт</td>
              <td>До марта 2017</td>
              <td>20%</td>
              <td>Студия  - 15 000 рублей<br>Остальные квартиры - 20 000 рублей
              </td>
              <td>Остаток, равный цене квартиры за минусом внесенных денежных средств</td>
              <td>+15% на остаток</td>
            </tr>
          </table>
          <h2>Кредитные программы</h2>
          <table class="credit">
            <tr>
              <th></th>
              <th>Ипотека с государственной поддержкой</th>
            </tr>
            <tr>
              <td>Процентная ставка</td>
              <td>11,40% *<br>*Ставка фиксируется на весь срок действия кредитного договора. В случае нарушения условия о ежегодном продлении страхования жизни и здоровья заемщика ставка увеличивается до 12.4% годовых 
              </td>
            </tr>
            <tr>
              <td>Первый взнос</td>
              <td>20% от стоимости квартиры</td>
            </tr>
            <tr>
              <td>Сумма кредита</td>
              <td>От 300 000 до 3 000 000 руб.</td>
            </tr>
            <tr>
              <td>Срок кредита</td>
              <td>от 12 месяцев до 30 лет (включительно)</td>
            </tr>
            <tr>
              <td>Возраст</td>
              <td>От 21 до 60 лет (муж.)/55 лет (жен)</td>
            </tr>
            <tr>
              <td>Гражданство</td>
              <td>Российская Федерация</td>
            </tr>
            <tr>
              <td>Регистрация</td>
              <td>Постоянная регистрация, фактическое место жительства и постоянное место работы в любом регионе присутствия Банка</td>
            </tr>
            <tr>
              <td>Стаж работы</td>
              <td>не менее 6 месяцев* на текущем месте работы и не менее 1 года общего стажа за последние 5 лет<br>(*На клиентов, получающих зарплату на счет в Сбербанке, это требование не распространяется) 
              </td>
            </tr>
            <tr>
              <td>Доп.комментарии</td>
              <td>Комиссия за выдачу кредита отсутствует. Дополнительные расходы:<br>· Страхование (тарифы зависят от индивидуальных особенностей заемщика);<br>· нотариальное заверение документов
              </td>
            </tr>
          </table>
        </div>
      </section>
      <section class="about-request">
        <div class="width-wrap"><a href="" class="fancybox.ajax fancy">
            <div class="ico"></div><span>Заявка<br>на кредит</span></a></div>
      </section>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/payment.jpg",opacity: 0.5,top: -40,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap">
          <div class="justifyed">
            <ul class="footer__social">
              <li><a href="" class="footer__social-vk">
                  <div class="ico"></div></a></li>
              <li><a href="" class="footer__social-in">
                  <div class="ico"></div></a></li>
              <li><a href="" class="footer__social-fb">
                  <div class="ico"></div></a></li>
            </ul>
            <div class="footer__sber"><span>Партнер по ипотечному кредитованию</span><img src="../../../img/icon--sber.jpg" alt /></div><a href="tel:88126402277" class="footer__phone">+7 (812) 640-22-77</a>
            <div class="footer__sber"><span>Брокер проекта</span><img src="../../../img/icon--aida.jpg" alt /></div>
            <div class="footer__made"><span>Сайт развивает —</span><a href="http://irbis.ru/">IRBIS</a></div>
          </div><span class="footer__copyright">ДАННЫЙ САЙТ НОСИТ ИСКЛЮЧИТЕЛЬНО ИНФОРМАЦИОННЫЙ ХАРАКТЕР И НЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ, ОПРЕДЕЛЯЕМОЙ ПОЛОЖЕНИЯМИ СТАТЬИ 437 ГРАЖДАНСКОГО КОДЕКСА РФ.</span>
        </div>
      </footer>
    </div>
  </body>
</html>
