static/html/pages/pageAbout/pageDesign.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/map/map.js"></script>
    <script src="../../../js/svg/plan.js"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <nav>
          <ul class="main-nav">
            <li><span>Главная</span></li>
            <li class="has-menu"><a href="">О проекте</a><span>Условия покупки</span>
              <ul class="submenu">
                <li><a href="">Условия покупки</a></li>
                <li><a href="">Отделка</a></li>
                <li><a href="">Ход строительства</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Акции</a></li>
                <li><a href="">Документация</a></li>
              </ul>
            </li>
            <li><a href="">Квартиры</a></li>
          </ul><a href="" class="main-logo"></a>
          <ul class="main-nav">
            <li class="header__contacts"><a href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/call-request.html" class="fancybox.ajax fancy header__contacts-phone">+7 (812)<strong>640-22-77</strong></a></li>
            <li><a href="">Инфраструктура</a></li>
            <li><a href="">Философия</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </nav>
      </header>
      <section class="about-design">
        <div class="width-wrap">
          <h2>Готовый дизайн</h2>
          <p> МЫ предлагаем три вида финишной отделки: "Скандинавский стиль", в котором используются светлые тона отделочных материалов, "Современный модерн", где отделочные материалы яркие и контрастные, и "Классический интерьер" с теплой пастельной гаммой тонов. Вид отделки вы можете выбрать и заказать во время заключения договора</p>
          <ul class="design-list justifyed">
            <li><a href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html" class="load-fotorama js--load-fotorama">
                <div class="design-list-img"><img src="../../../img/img--scand.jpg" alt /></div>
                <h3>СКАНДИНАВСКИЙ<br>СТИЛЬ
                </h3></a></li>
            <li><a href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html" class="load-fotorama js--load-fotorama">
                <div class="design-list-img"><img src="../../../img/img--modern.jpg" alt /></div>
                <h3>Современный<br>модерн
                </h3></a></li>
            <li><a href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html" class="load-fotorama js--load-fotorama">
                <div class="design-list-img"><img src="../../../img/img--classic.jpg" alt /></div>
                <h3>Классический<br>интерьер
                </h3></a></li>
          </ul>
        </div>
      </section>
      <section class="about-service">
        <div class="width-wrap">
          <h2>Состав отделочный работ</h2>
          <ul>
            <li>1. Стены комнат, коридоров, кухни – обои, галтели – по дизайн-проекту</li>
            <li>2. Стены в ванной комнате и туалете – плитка</li>
            <li>3. Потолки во всех помещениях – покраска</li>
            <li>4. Полы в комнатах – ламинат, установка плинтусов</li>
            <li>5. Полы в ванной комнате, туалете, прихожей, кухне – плитка</li>
            <li>6. Ванная комната: установка ванны со смесителем, раковины со смесителем, подводка воды от запорной арматуры</li>
            <li>7. Туалет: установка и подключение унитаза</li>
            <li>8. Установка межкомнатных дверей</li>
          </ul>
        </div>
      </section>
      <div class="popup-gallery">
        <div class="overlay"></div>
        <div class="close"></div>
        <div class="gallery-container"></div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/payment.jpg",opacity: 0.5,top: -40,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap">
          <div class="justifyed">
            <ul class="footer__social">
              <li><a href="" class="footer__social-vk">
                  <div class="ico"></div></a></li>
              <li><a href="" class="footer__social-in">
                  <div class="ico"></div></a></li>
              <li><a href="" class="footer__social-fb">
                  <div class="ico"></div></a></li>
            </ul>
            <div class="footer__sber"><span>Партнер по ипотечному кредитованию</span><img src="../../../img/icon--sber.jpg" alt /></div><a href="tel:88126402277" class="footer__phone">+7 (812) 640-22-77</a>
            <div class="footer__sber"><span>Брокер проекта</span><img src="../../../img/icon--aida.jpg" alt /></div>
            <div class="footer__made"><span>Сайт развивает —</span><a href="http://irbis.ru/">IRBIS</a></div>
          </div><span class="footer__copyright">ДАННЫЙ САЙТ НОСИТ ИСКЛЮЧИТЕЛЬНО ИНФОРМАЦИОННЫЙ ХАРАКТЕР И НЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ, ОПРЕДЕЛЯЕМОЙ ПОЛОЖЕНИЯМИ СТАТЬИ 437 ГРАЖДАНСКОГО КОДЕКСА РФ.</span>
        </div>
      </footer>
    </div>
  </body>
</html>

static/source/jade/html/pages/pageAbout/pageDesign.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.about-design
        .width-wrap
            h2 Готовый дизайн
            p  МЫ предлагаем три вида финишной отделки: "Скандинавский стиль", в котором используются светлые тона отделочных материалов, "Современный модерн", где отделочные материалы яркие и контрастные, и "Классический интерьер" с теплой пастельной гаммой тонов. Вид отделки вы можете выбрать и заказать во время заключения договора

            ul.design-list.justifyed
                li
                    a(href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html").load-fotorama.js--load-fotorama
                        .design-list-img
                            img(src="../../../img/img--scand.jpg" alt /)

                        h3 СКАНДИНАВСКИЙ
                            br
                            ="СТИЛЬ"

                li
                    a(href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html").load-fotorama.js--load-fotorama
                        .design-list-img
                            img(src="../../../img/img--modern.jpg" alt /)

                        h3 Современный
                            br
                            ="модерн"

                li
                    a(href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/fotorama-load.html").load-fotorama.js--load-fotorama
                        .design-list-img
                            img(src="../../../img/img--classic.jpg" alt /)

                        h3 Классический
                            br
                            ="интерьер"

    section.about-service
        .width-wrap
            h2 Состав отделочный работ
            ul
                li 1. Стены комнат, коридоров, кухни – обои, галтели – по дизайн-проекту
                li 2. Стены в ванной комнате и туалете – плитка
                li 3. Потолки во всех помещениях – покраска
                li 4. Полы в комнатах – ламинат, установка плинтусов
                li 5. Полы в ванной комнате, туалете, прихожей, кухне – плитка
                li 6. Ванная комната: установка ванны со смесителем, раковины со смесителем, подводка воды от запорной арматуры
                li 7. Туалет: установка и подключение унитаза
                li 8. Установка межкомнатных дверей

    .popup-gallery
        .overlay
        .close
        .gallery-container

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/payment.jpg",opacity: 0.5,top: -40,left: 0,center: false,clip: true,show: false});});
