static/html/pages/pageIndex/pageIndex.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="../../../js/svg/plan.js"></script>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if(/*@cc_on!@*/false){document.documentElement.className+=' ie10';}</script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body class="index">
    <div class="page-wrap">
      <header class="header">
        <nav>
          <ul class="main-nav">
            <li><span>Главная</span></li>
            <li class="has-menu"><a href="">О проекте</a><span>Условия покупки</span>
              <ul class="submenu">
                <li><a href="">Условия покупки</a></li>
                <li><a href="">Отделка</a></li>
                <li><a href="">Ход строительства</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Акции</a></li>
                <li><a href="">Документация</a></li>
              </ul>
            </li>
            <li><a href="">Квартиры</a></li>
          </ul><a href="" class="main-logo"></a>
          <ul class="main-nav">
            <li class="header__contacts"><a href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/call-request.html" class="fancybox.ajax fancy header__contacts-phone">+7 (812)<strong>640-22-77</strong></a></li>
            <li><a href="">Инфраструктура</a></li>
            <li><a href="">Философия</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </nav>
      </header>
      <div class="middle-stripe">
        <div class="layout-stretch-centered">
          <div class="home-container">
            <div class="marker-switcher">
              <div class="marker marker_type_1 marker_1">
                <div class="desc"><span>Поехали купаться</span><br><span>на Кавголовское озеро!!</span></div>
              </div>
              <div class="marker marker_type_1 marker_2">
                <div class="desc"><span>Завтра в поход</span><br><span>на все выходные!</span></div>
              </div>
              <div class="marker marker_type_2 marker_3">
                <div class="desc"><span>Буду в центре</span><br><span>через 40 минут!</span></div>
              </div>
              <div class="marker marker_type_2 marker_4">
                <div class="desc"><span>А я ставлю машину</span><br><span>у Парнаса!</span></div>
              </div>
              <div class="marker marker_type_3 marker_5">
                <div class="desc"><span>Скидки в салоне красоты!</span></div>
              </div>
              <div class="marker marker_type_3 marker_6">
                <div class="desc"><span>День удачного</span><br><span>шоппинга!</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/main.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
    </div>
    <div class="bottom-stripe">
      <footer class="footer">
        <div class="footer-blur"></div>
        <div class="width-wrap">
          <div class="justifyed">
            <ul class="footer__social">
              <li><a href="" class="footer__social-vk">
                  <div class="ico"></div></a></li>
              <li><a href="" class="footer__social-in">
                  <div class="ico"></div></a></li>
              <li><a href="" class="footer__social-fb">
                  <div class="ico"></div></a></li>
            </ul>
            <div class="footer__sber"><span>Партнер по ипотечному кредитованию</span><img src="../../../img/icon--sber.jpg" alt /></div><a href="tel:88126402277" class="footer__phone">+7 (812) 640-22-77</a>
            <div class="footer__sber"><span>Брокер проекта</span><img src="../../../img/icon--aida.jpg" alt /></div>
            <div class="footer__made"><span>Сайт развивает —</span><a href="http://irbis.ru/">IRBIS</a></div>
          </div><span class="footer__copyright">ДАННЫЙ САЙТ НОСИТ ИСКЛЮЧИТЕЛЬНО ИНФОРМАЦИОННЫЙ ХАРАКТЕР И НЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ, ОПРЕДЕЛЯЕМОЙ ПОЛОЖЕНИЯМИ СТАТЬИ 437 ГРАЖДАНСКОГО КОДЕКСА РФ.</span>
        </div>
      </footer>
    </div>
  </body>
</html>

static/source/jade/html/pages/pageIndex/pageIndex.jade
block vars
    - var title='Title'

extends ../../partials/layout_index

block content

    .middle-stripe
        .layout-stretch-centered
            .home-container
                .marker-switcher
                    .marker.marker_type_1.marker_1
                        .desc
                            span Поехали купаться
                            br
                            span на Кавголовское озеро!!

                    .marker.marker_type_1.marker_2
                        .desc
                            span Завтра в поход
                            br
                            span на все выходные!

                    .marker.marker_type_2.marker_3
                        .desc
                            span Буду в центре
                            br
                            span через 40 минут!

                    .marker.marker_type_2.marker_4
                        .desc
                            span А я ставлю машину
                            br
                            span у Парнаса!

                    .marker.marker_type_3.marker_5
                        .desc
                            span Скидки в салоне красоты!

                    .marker.marker_type_3.marker_6
                        .desc
                            span День удачного
                            br
                            span шоппинга!

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/main.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});
