static/source/jade/html/pages/pageContacts/pageContacts.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content

    section.contacts
        .width-wrap
            .contacts--content
                h2 Контакты

                div
                    h3 Отдел продаж
                    span 194044, Санкт-Петербург
                    span Финляндский пр., 4А
                    span БЦ "Петровский форт", офис Б-55 (атриум, уровень Б)

                div
                    h3 Телефон
                    a(href="tel:88126402277") +7 (812) 640-22-77

                div
                    h3 Почта
                    a(href="mailto:sale@yolkki.ru") sale@yolkki.ru

            div(id="map-contacts" data-office="[59.957219,30.342687]" data-complecs="[60.177407,30.365285]").map

    .contacts-scheme
        .width-wrap
            h2 Как проехать
            div(data-nav="thumbs" data-transition="slide").fotorama
                img(data-caption="Подпись к фотографии1" data-fit="cover" data-minwidth="960" src="../../../img/karti.jpg" alt /)
                div
                    img(data-caption="Подпись к фотографии2" data-fit="cover" data-minwidth="960" src="../../../img/karti.jpg" alt /)
                    img(data-caption="Подпись к фотографии2" data-fit="cover" data-minwidth="960" src="../../../img/karti2.jpg" alt /)
                    img(data-caption="Подпись к фотографии2" data-fit="cover" data-minwidth="960" src="../../../img/karti3.jpg" alt /)
                    img(data-caption="Подпись к фотографии2" data-fit="cover" data-minwidth="960" src="../../../img/karti4.jpg" alt /)


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/contacts.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});

static/html/pages/pageContacts/pageContacts.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="../../../js/map/map.js"></script>
    <script src="../../../js/svg/plan.js"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <nav>
          <ul class="main-nav">
            <li><span>Главная</span></li>
            <li class="has-menu"><a href="">О проекте</a><span>Условия покупки</span>
              <ul class="submenu">
                <li><a href="">Условия покупки</a></li>
                <li><a href="">Отделка</a></li>
                <li><a href="">Ход строительства</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Акции</a></li>
                <li><a href="">Документация</a></li>
              </ul>
            </li>
            <li><a href="">Квартиры</a></li>
          </ul><a href="" class="main-logo"></a>
          <ul class="main-nav">
            <li class="header__contacts"><a href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/call-request.html" class="fancybox.ajax fancy header__contacts-phone">+7 (812)<strong>640-22-77</strong></a></li>
            <li><a href="">Инфраструктура</a></li>
            <li><a href="">Философия</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </nav>
      </header>
      <section class="contacts">
        <div class="width-wrap">
          <div class="contacts--content">
            <h2>Контакты</h2>
            <div>
              <h3>Отдел продаж</h3><span>194044, Санкт-Петербург</span><span>Финляндский пр., 4А</span><span>БЦ "Петровский форт", офис Б-55 (атриум, уровень Б)</span>
            </div>
            <div>
              <h3>Телефон</h3><a href="tel:88126402277">+7 (812) 640-22-77</a>
            </div>
            <div>
              <h3>Почта</h3><a href="mailto:sale@yolkki.ru">sale@yolkki.ru</a>
            </div>
          </div>
          <div id="map-contacts" data-office="[59.957219,30.342687]" data-complecs="[60.177407,30.365285]" class="map"></div>
        </div>
      </section>
      <div class="contacts-scheme">
        <div class="width-wrap">
          <h2>Как проехать</h2>
          <div data-nav="thumbs" data-transition="slide" class="fotorama"><img data-caption="Подпись к фотографии1" data-fit="cover" data-minwidth="960" src="../../../img/karti.jpg" alt />
            <div><img data-caption="Подпись к фотографии2" data-fit="cover" data-minwidth="960" src="../../../img/karti.jpg" alt /><img data-caption="Подпись к фотографии2" data-fit="cover" data-minwidth="960" src="../../../img/karti2.jpg" alt /><img data-caption="Подпись к фотографии2" data-fit="cover" data-minwidth="960" src="../../../img/karti3.jpg" alt /><img data-caption="Подпись к фотографии2" data-fit="cover" data-minwidth="960" src="../../../img/karti4.jpg" alt /></div>
          </div>
        </div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/contacts.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});</script>
      <div class="psevdofooter"></div>
      <footer class="footer">
        <div class="width-wrap">
          <div class="justifyed">
            <ul class="footer__social">
              <li><a href="" class="footer__social-vk">
                  <div class="ico"></div></a></li>
              <li><a href="" class="footer__social-in">
                  <div class="ico"></div></a></li>
              <li><a href="" class="footer__social-fb">
                  <div class="ico"></div></a></li>
            </ul>
            <div class="footer__sber"><span>Партнер по ипотечному кредитованию</span><img src="../../../img/icon--sber.jpg" alt /></div><a href="tel:88126402277" class="footer__phone">+7 (812) 640-22-77</a>
            <div class="footer__sber"><span>Брокер проекта</span><img src="../../../img/icon--aida.jpg" alt /></div>
            <div class="footer__made"><span>Сайт развивает —</span><a href="http://irbis.ru/">IRBIS</a></div>
          </div><span class="footer__copyright">ДАННЫЙ САЙТ НОСИТ ИСКЛЮЧИТЕЛЬНО ИНФОРМАЦИОННЫЙ ХАРАКТЕР И НЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ, ОПРЕДЕЛЯЕМОЙ ПОЛОЖЕНИЯМИ СТАТЬИ 437 ГРАЖДАНСКОГО КОДЕКСА РФ.</span>
        </div>
      </footer>
    </div>
  </body>
</html>
