static/source/jade/html/pages/pageFlat/pageFlat.jade
block vars
    - var title='Title'

extends ../../partials/layout_flat

block content

    .middle-stripe
        .blur

        .flats-app-container
            .pano-svg
                .svg-loader-content
                    svg(id="svg" x="0px" y="0px" width="1920" height="1080" viewBox="729 -530.9 1920 1080" enable-background="new 629 -410.9 2020 1080" xml:space="preserve" inkscape:version="0.91 r" sodipodi:docname="../../../img/genplan.svg")

            .house-pointer.section_2

                .house-flats-num
                    .circle-content
                        .circle-content-centered
                            .heading 82
                            div квартиры в продаже

                .house-label
                    .circle-content
                        .circle-content-centered
                            .heading Дом 1
                            .data-reactid
                                span Корпус
                                span 2

                .pointer-arrow

            .house-pointer.section_1
                .house-flats-num
                    .circle-content
                        .circle-content-centered
                            div Нет в продаже

                .house-label
                    .circle-content
                        .circle-content-centered
                            .heading Дом 1
                            .data-reactid
                                span Корпус
                                span 1

                .pointer-arrow

            .house-pointer.section_3
                .house-flats-num
                    .circle-content
                        .circle-content-centered
                            div Нет в продаже

                .house-label
                    .circle-content
                        .circle-content-centered
                            .heading Дом 1
                            .data-reactid
                                span Корпус
                                span 3

                .pointer-arrow

            .house-pointer.section_4
                .house-flats-num
                    .circle-content
                        .circle-content-centered
                            div Нет в продаже

                .house-label
                    .circle-content
                        .circle-content-centered
                            .heading Дом 1
                            .data-reactid
                                span Корпус
                                span 4

                .pointer-arrow

        .flats-filter-wrap
            .open-toggle.js--open-filer Выбрать квартиру
            .reset-filter.js--filter-reset Сбросить фильтры
            .flats-filter-container
                form(action="../../../js/ajax/filter.php" method="post").filter-form
                    .filter-block.grid
                        .price-section.grid-item.filter-section
                            .filter-section-title Цена
                            .filter-section-content
                                .field-block
                                    span.price_value.price_min 1 833 388 руб.
                                    input(type="hidden" name="price_min" value="").inp-price-min
                                    .price.slider-component(data-min-current="1 833 388" data-max-current="4800000" data-min_range="0" data-max_range="4833388" data-step="500")
                                    span.price_value.price_max 4 833 388 руб.
                                    input(type="hidden" name="price_max" value="").inp-price-max

                        .size-section.grid-item.filter-section
                            .filter-section-title Размеры
                            .filter-section-content.grid
                                .field-block.col-40p.grid-item
                                    .field-block--label Число комнат:
                                    .button-group
                                        label.js--send-filter
                                            input(type="checkbox" name="number_flat" value="01").hidden-block
                                            span 1
                                        label.js--send-filter
                                            input(type="checkbox" name="number_flat" value="02").hidden-block
                                            span 2
                                        label.js--send-filter
                                            input(type="checkbox" name="number_flat" value="02").hidden-block
                                            span 3

                                .field-block.col-60p.grid-item
                                    .field-block--label Площадь
                                    .span-wrap
                                        span.price_value.square_min 27 м
                                        input(type="hidden" name="square_min" value="").inp-square-min
                                        span.price_value.square_max 78 м
                                        input(type="hidden" name="square_min" value="").inp-square-max
                                    .square.slider-component(data-min-current="27" data-max-current="78" data-min_range="27" data-max_range="78" data-step="1")

                        .location-section.grid-item.filter-section
                            .filter-section-title Расположение
                            .filter-section-content
                                .field-block.col-60p.grid-item
                                    .field-block--label Этаж
                                    .span-wrap
                                        span.price_value.square_min 1
                                        input(type="hidden" name="floor_min" value="").inp-square-min
                                        span.price_value.square_max 3
                                        input(type="hidden" name="floor_min" value="").inp-square-max
                                    .location.slider-component(data-min-current="1" data-max-current="3" data-min_range="1" data-max_range="3" data-step="1")

                                .field-block.col-30p.grid-item
                                    .field-block--label Корпус
                                    .button-group
                                        label.js--send-filter
                                            input(type="checkbox" name="block" value="01").hidden-block
                                            span 1.2

                    .flat-filter-results
                        .results-header.grid
                            .cell-room.grid-item Число комнат
                            .cell-square.grid-item Площадь
                                br
                                ="(жилая)"
                            .cell-floor.grid-item Этаж
                            .cell-building.grid-item Корпус
                            .cell-flat.grid-item Номер
                                br
                                ="квартиры"
                            .cell-price.grid-item Стоимость
                            .cell-plan.grid-item Планировка

                        .results-content
                            .results-rows.grid.ps-container
                                .flat-row
                                    .cell-room.grid-item 1
                                    .cell-square.grid-item 27.34 м
                                        sup 2
                                        = " (16.22 м"
                                        sup 2
                                        = ")"
                                    .cell-floor.grid-item 3
                                    .cell-building.grid-item Дом 1.2
                                    .cell-flat.grid-item 2.3.47
                                    .cell-price.grid-item 1 833 3888 руб.
                                    .cell-plan.grid-item
                                        a(href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="1" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html").show-flor.js--show-flat

                                .flat-row
                                    .cell-room.grid-item 1
                                    .cell-square.grid-item 27.34 м
                                        sup 2
                                        = " (16.22 м"
                                        sup 2
                                        = ")"
                                    .cell-floor.grid-item 3
                                    .cell-building.grid-item Дом 1.2
                                    .cell-flat.grid-item 2.3.47
                                    .cell-price.grid-item 1 833 3888 руб.
                                    .cell-plan.grid-item
                                        a(href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="1" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html").show-flor.js--show-flat

                                .flat-row
                                    .cell-room.grid-item 1
                                    .cell-square.grid-item 27.34 м
                                        sup 2
                                        = " (16.22 м"
                                        sup 2
                                        = ")"
                                    .cell-floor.grid-item 3
                                    .cell-building.grid-item Дом 1.2
                                    .cell-flat.grid-item 2.3.47
                                    .cell-price.grid-item 1 833 3888 руб.
                                    .cell-plan.grid-item
                                        a(href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="2" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html").show-flor.js--show-flat

                                .flat-row
                                    .cell-room.grid-item 1
                                    .cell-square.grid-item 27.34 м
                                        sup 2
                                        = " (16.22 м"
                                        sup 2
                                        = ")"
                                    .cell-floor.grid-item 3
                                    .cell-building.grid-item Дом 1.2
                                    .cell-flat.grid-item 2.3.47
                                    .cell-price.grid-item 1 833 3888 руб.
                                    .cell-plan.grid-item
                                        a(href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="2" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html").show-flor.js--show-flat

                                .flat-row
                                    .cell-room.grid-item 1
                                    .cell-square.grid-item 27.34 м
                                        sup 2
                                        = " (16.22 м"
                                        sup 2
                                        = ")"
                                    .cell-floor.grid-item 3
                                    .cell-building.grid-item Дом 1.2
                                    .cell-flat.grid-item 2.3.47
                                    .cell-price.grid-item 1 833 3888 руб.
                                    .cell-plan.grid-item
                                        a(href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="2" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html").show-flor.js--show-flat

                                .flat-row
                                    .cell-room.grid-item 1
                                    .cell-square.grid-item 27.34 м
                                        sup 2
                                        = " (16.22 м"
                                        sup 2
                                        = ")"
                                    .cell-floor.grid-item 3
                                    .cell-building.grid-item Дом 1.2
                                    .cell-flat.grid-item 2.3.47
                                    .cell-price.grid-item 1 833 3888 руб.
                                    .cell-plan.grid-item
                                        a(href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="1" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html").show-flor.js--show-flat

                                .flat-row
                                    .cell-room.grid-item 1
                                    .cell-square.grid-item 27.34 м
                                        sup 2
                                        = " (16.22 м"
                                        sup 2
                                        = ")"
                                    .cell-floor.grid-item 3
                                    .cell-building.grid-item Дом 1.2
                                    .cell-flat.grid-item 2.3.47
                                    .cell-price.grid-item 1 833 3888 руб.
                                    .cell-plan.grid-item
                                        a(href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="1" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html").show-flor.js--show-flat

                                .flat-row
                                    .cell-room.grid-item 1
                                    .cell-square.grid-item 27.34 м
                                        sup 2
                                        = " (16.22 м"
                                        sup 2
                                        = ")"
                                    .cell-floor.grid-item 3
                                    .cell-building.grid-item Дом 1.2
                                    .cell-flat.grid-item 2.3.47
                                    .cell-price.grid-item 1 833 3888 руб.
                                    .cell-plan.grid-item
                                        a(href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="1" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html").show-flor.js--show-flat



        .flats-navigator-screen
            // FLOOR
            .flats-navigator-screen-floor.hidden-block
                .screen-content-wrapper
                    .navigator-control-close.js--close-floor
                    .screen-content.floor-screen-content

            // FLAT
            .flats-navigator-screen-flat.hidden-block
                .screen-content-wrapper
                    .navigator-control-close.js--close-flat
                    .screen-content.floor-screen-content

    //script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/flat.jpg",opacity: 0.5,top: 9,left: 0,center: false,clip: true,show: false});});
    //script(type="text/javascript" ) $(document).ready(function(){ active_floor=3; active_flat = 25; need_url = true;  need_load = true; flat_href = "http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html"; show_floor("http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php", "1-2--1", "3"); })

static/html/pages/pageFlat/pageFlat.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>if (/*@cc_on!@*/false) {            document.documentElement.className += ' ie10';        }</script>
    <script src="../../../js/svg/plan.js"></script>
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body class="flat">
    <div class="page-wrap">
      <header class="header">
        <nav>
          <ul class="main-nav">
            <li><span>Главная</span></li>
            <li class="has-menu"><a href="">О проекте</a><span>Условия покупки</span>
              <ul class="submenu">
                <li><a href="">Условия покупки</a></li>
                <li><a href="">Отделка</a></li>
                <li><a href="">Ход строительства</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Акции</a></li>
                <li><a href="">Документация</a></li>
              </ul>
            </li>
            <li><a href="">Квартиры</a></li>
          </ul><a href="" class="main-logo"></a>
          <ul class="main-nav">
            <li class="header__contacts"><a href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/popup/call-request.html" class="fancybox.ajax fancy header__contacts-phone">+7 (812)<strong>640-22-77</strong></a></li>
            <li><a href="">Инфраструктура</a></li>
            <li><a href="">Философия</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </nav>
      </header>
      <div class="middle-stripe">
        <div class="blur"></div>
        <div class="flats-app-container">
          <div class="pano-svg">
            <div class="svg-loader-content">
              <svg id="svg" x="0px" y="0px" width="1920" height="1080" viewBox="729 -530.9 1920 1080" enable-background="new 629 -410.9 2020 1080" xml:space="preserve" inkscape:version="0.91 r" sodipodi:docname="../../../img/genplan.svg"></svg>
            </div>
          </div>
          <div class="house-pointer section_2">
            <div class="house-flats-num">
              <div class="circle-content">
                <div class="circle-content-centered">
                  <div class="heading">82</div>
                  <div>квартиры в продаже</div>
                </div>
              </div>
            </div>
            <div class="house-label">
              <div class="circle-content">
                <div class="circle-content-centered">
                  <div class="heading">Дом 1</div>
                  <div class="data-reactid"><span>Корпус</span><span>2</span></div>
                </div>
              </div>
            </div>
            <div class="pointer-arrow"></div>
          </div>
          <div class="house-pointer section_1">
            <div class="house-flats-num">
              <div class="circle-content">
                <div class="circle-content-centered">
                  <div>Нет в продаже</div>
                </div>
              </div>
            </div>
            <div class="house-label">
              <div class="circle-content">
                <div class="circle-content-centered">
                  <div class="heading">Дом 1</div>
                  <div class="data-reactid"><span>Корпус</span><span>1</span></div>
                </div>
              </div>
            </div>
            <div class="pointer-arrow"></div>
          </div>
          <div class="house-pointer section_3">
            <div class="house-flats-num">
              <div class="circle-content">
                <div class="circle-content-centered">
                  <div>Нет в продаже</div>
                </div>
              </div>
            </div>
            <div class="house-label">
              <div class="circle-content">
                <div class="circle-content-centered">
                  <div class="heading">Дом 1</div>
                  <div class="data-reactid"><span>Корпус</span><span>3</span></div>
                </div>
              </div>
            </div>
            <div class="pointer-arrow"></div>
          </div>
          <div class="house-pointer section_4">
            <div class="house-flats-num">
              <div class="circle-content">
                <div class="circle-content-centered">
                  <div>Нет в продаже</div>
                </div>
              </div>
            </div>
            <div class="house-label">
              <div class="circle-content">
                <div class="circle-content-centered">
                  <div class="heading">Дом 1</div>
                  <div class="data-reactid"><span>Корпус</span><span>4</span></div>
                </div>
              </div>
            </div>
            <div class="pointer-arrow"></div>
          </div>
        </div>
        <div class="flats-filter-wrap">
          <div class="open-toggle js--open-filer">Выбрать квартиру</div>
          <div class="reset-filter js--filter-reset">Сбросить фильтры</div>
          <div class="flats-filter-container">
            <form action="../../../js/ajax/filter.php" method="post" class="filter-form">
              <div class="filter-block grid">
                <div class="price-section grid-item filter-section">
                  <div class="filter-section-title">Цена</div>
                  <div class="filter-section-content">
                    <div class="field-block"><span class="price_value price_min">1 833 388 руб.</span>
                      <input type="hidden" name="price_min" value="" class="inp-price-min">
                      <div data-min-current="1 833 388" data-max-current="4800000" data-min_range="0" data-max_range="4833388" data-step="500" class="price slider-component"></div><span class="price_value price_max">4 833 388 руб.</span>
                      <input type="hidden" name="price_max" value="" class="inp-price-max">
                    </div>
                  </div>
                </div>
                <div class="size-section grid-item filter-section">
                  <div class="filter-section-title">Размеры</div>
                  <div class="filter-section-content grid">
                    <div class="field-block col-40p grid-item">
                      <div class="field-block--label">Число комнат:</div>
                      <div class="button-group">
                        <label class="js--send-filter">
                          <input type="checkbox" name="number_flat" value="01" class="hidden-block"><span>1</span>
                        </label>
                        <label class="js--send-filter">
                          <input type="checkbox" name="number_flat" value="02" class="hidden-block"><span>2</span>
                        </label>
                        <label class="js--send-filter">
                          <input type="checkbox" name="number_flat" value="02" class="hidden-block"><span>3</span>
                        </label>
                      </div>
                    </div>
                    <div class="field-block col-60p grid-item">
                      <div class="field-block--label">Площадь</div>
                      <div class="span-wrap"><span class="price_value square_min">27 м</span>
                        <input type="hidden" name="square_min" value="" class="inp-square-min"><span class="price_value square_max">78 м</span>
                        <input type="hidden" name="square_min" value="" class="inp-square-max">
                      </div>
                      <div data-min-current="27" data-max-current="78" data-min_range="27" data-max_range="78" data-step="1" class="square slider-component"></div>
                    </div>
                  </div>
                </div>
                <div class="location-section grid-item filter-section">
                  <div class="filter-section-title">Расположение</div>
                  <div class="filter-section-content">
                    <div class="field-block col-60p grid-item">
                      <div class="field-block--label">Этаж</div>
                      <div class="span-wrap"><span class="price_value square_min">1</span>
                        <input type="hidden" name="floor_min" value="" class="inp-square-min"><span class="price_value square_max">3</span>
                        <input type="hidden" name="floor_min" value="" class="inp-square-max">
                      </div>
                      <div data-min-current="1" data-max-current="3" data-min_range="1" data-max_range="3" data-step="1" class="location slider-component"></div>
                    </div>
                    <div class="field-block col-30p grid-item">
                      <div class="field-block--label">Корпус</div>
                      <div class="button-group">
                        <label class="js--send-filter">
                          <input type="checkbox" name="block" value="01" class="hidden-block"><span>1.2</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flat-filter-results">
                <div class="results-header grid">
                  <div class="cell-room grid-item">Число комнат</div>
                  <div class="cell-square grid-item">Площадь<br>(жилая)
                  </div>
                  <div class="cell-floor grid-item">Этаж</div>
                  <div class="cell-building grid-item">Корпус</div>
                  <div class="cell-flat grid-item">Номер<br>квартиры
                  </div>
                  <div class="cell-price grid-item">Стоимость</div>
                  <div class="cell-plan grid-item">Планировка</div>
                </div>
                <div class="results-content">
                  <div class="results-rows grid ps-container">
                    <div class="flat-row">
                      <div class="cell-room grid-item">1</div>
                      <div class="cell-square grid-item">27.34 м<sup>2</sup> (16.22 м<sup>2</sup>)
                      </div>
                      <div class="cell-floor grid-item">3</div>
                      <div class="cell-building grid-item">Дом 1.2</div>
                      <div class="cell-flat grid-item">2.3.47</div>
                      <div class="cell-price grid-item">1 833 3888 руб.</div>
                      <div class="cell-plan grid-item"><a href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="1" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html" class="show-flor js--show-flat"></a></div>
                    </div>
                    <div class="flat-row">
                      <div class="cell-room grid-item">1</div>
                      <div class="cell-square grid-item">27.34 м<sup>2</sup> (16.22 м<sup>2</sup>)
                      </div>
                      <div class="cell-floor grid-item">3</div>
                      <div class="cell-building grid-item">Дом 1.2</div>
                      <div class="cell-flat grid-item">2.3.47</div>
                      <div class="cell-price grid-item">1 833 3888 руб.</div>
                      <div class="cell-plan grid-item"><a href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="1" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html" class="show-flor js--show-flat"></a></div>
                    </div>
                    <div class="flat-row">
                      <div class="cell-room grid-item">1</div>
                      <div class="cell-square grid-item">27.34 м<sup>2</sup> (16.22 м<sup>2</sup>)
                      </div>
                      <div class="cell-floor grid-item">3</div>
                      <div class="cell-building grid-item">Дом 1.2</div>
                      <div class="cell-flat grid-item">2.3.47</div>
                      <div class="cell-price grid-item">1 833 3888 руб.</div>
                      <div class="cell-plan grid-item"><a href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="2" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html" class="show-flor js--show-flat"></a></div>
                    </div>
                    <div class="flat-row">
                      <div class="cell-room grid-item">1</div>
                      <div class="cell-square grid-item">27.34 м<sup>2</sup> (16.22 м<sup>2</sup>)
                      </div>
                      <div class="cell-floor grid-item">3</div>
                      <div class="cell-building grid-item">Дом 1.2</div>
                      <div class="cell-flat grid-item">2.3.47</div>
                      <div class="cell-price grid-item">1 833 3888 руб.</div>
                      <div class="cell-plan grid-item"><a href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="2" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html" class="show-flor js--show-flat"></a></div>
                    </div>
                    <div class="flat-row">
                      <div class="cell-room grid-item">1</div>
                      <div class="cell-square grid-item">27.34 м<sup>2</sup> (16.22 м<sup>2</sup>)
                      </div>
                      <div class="cell-floor grid-item">3</div>
                      <div class="cell-building grid-item">Дом 1.2</div>
                      <div class="cell-flat grid-item">2.3.47</div>
                      <div class="cell-price grid-item">1 833 3888 руб.</div>
                      <div class="cell-plan grid-item"><a href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="2" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html" class="show-flor js--show-flat"></a></div>
                    </div>
                    <div class="flat-row">
                      <div class="cell-room grid-item">1</div>
                      <div class="cell-square grid-item">27.34 м<sup>2</sup> (16.22 м<sup>2</sup>)
                      </div>
                      <div class="cell-floor grid-item">3</div>
                      <div class="cell-building grid-item">Дом 1.2</div>
                      <div class="cell-flat grid-item">2.3.47</div>
                      <div class="cell-price grid-item">1 833 3888 руб.</div>
                      <div class="cell-plan grid-item"><a href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="1" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html" class="show-flor js--show-flat"></a></div>
                    </div>
                    <div class="flat-row">
                      <div class="cell-room grid-item">1</div>
                      <div class="cell-square grid-item">27.34 м<sup>2</sup> (16.22 м<sup>2</sup>)
                      </div>
                      <div class="cell-floor grid-item">3</div>
                      <div class="cell-building grid-item">Дом 1.2</div>
                      <div class="cell-flat grid-item">2.3.47</div>
                      <div class="cell-price grid-item">1 833 3888 руб.</div>
                      <div class="cell-plan grid-item"><a href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="1" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html" class="show-flor js--show-flat"></a></div>
                    </div>
                    <div class="flat-row">
                      <div class="cell-room grid-item">1</div>
                      <div class="cell-square grid-item">27.34 м<sup>2</sup> (16.22 м<sup>2</sup>)
                      </div>
                      <div class="cell-floor grid-item">3</div>
                      <div class="cell-building grid-item">Дом 1.2</div>
                      <div class="cell-flat grid-item">2.3.47</div>
                      <div class="cell-price grid-item">1 833 3888 руб.</div>
                      <div class="cell-plan grid-item"><a href="" data-floor="2" data-link="1-2--1" data-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php" data-flat="14" data-housing="1" data-flat-href="http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html" class="show-flor js--show-flat"></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="flats-navigator-screen">
          <!-- FLOOR-->
          <div class="flats-navigator-screen-floor hidden-block">
            <div class="screen-content-wrapper">
              <div class="navigator-control-close js--close-floor"></div>
              <div class="screen-content floor-screen-content"></div>
            </div>
          </div>
          <!-- FLAT-->
          <div class="flats-navigator-screen-flat hidden-block">
            <div class="screen-content-wrapper">
              <div class="navigator-control-close js--close-flat"></div>
              <div class="screen-content floor-screen-content"></div>
            </div>
          </div>
        </div>
      </div>
      <!--script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/flat.jpg",opacity: 0.5,top: 9,left: 0,center: false,clip: true,show: false});});-->
      <!--script(type="text/javascript" ) $(document).ready(function(){ active_floor=3; active_flat = 25; need_url = true;  need_load = true; flat_href = "http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/25.html"; show_floor("http://chidi-frontend.esy.es/site_freelance/yolkki/static/js/ajax/floor.php", "1-2--1", "3"); })-->
      
      
      
      
      <footer class="footer">
        <div class="width-wrap">
          <div class="justifyed">
            <ul class="footer__social">
              <li><a href="" class="footer__social-vk">
                  <div class="ico"></div></a></li>
              <li><a href="" class="footer__social-in">
                  <div class="ico"></div></a></li>
              <li><a href="" class="footer__social-fb">
                  <div class="ico"></div></a></li>
            </ul>
            <div class="footer__sber"><span>Партнер по ипотечному кредитованию</span><img src="../../../img/icon--sber.jpg" alt /></div><a href="tel:88126402277" class="footer__phone">+7 (812) 640-22-77</a>
            <div class="footer__sber"><span>Брокер проекта</span><img src="../../../img/icon--aida.jpg" alt /></div>
            <div class="footer__made"><span>Сайт развивает —</span><a href="http://irbis.ru/">IRBIS</a></div>
          </div><span class="footer__copyright">ДАННЫЙ САЙТ НОСИТ ИСКЛЮЧИТЕЛЬНО ИНФОРМАЦИОННЫЙ ХАРАКТЕР И НЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ, ОПРЕДЕЛЯЕМОЙ ПОЛОЖЕНИЯМИ СТАТЬИ 437 ГРАЖДАНСКОГО КОДЕКСА РФ.</span>
        </div>
      </footer>
    </div>
  </body>
</html>
