static/source/jade/html/index.jade
block vars
    - var title='DEV'

extends partials/layout_bootstrap

block content

    .container

        .page-header
            h1 Верстка по макетам

        .list-group

            .list-group-item.active Pages

            a.list-group-item(href="pages/pageIndex/pageIndex.html")
                h4 page Index

            a.list-group-item(href="pages/pageFlat/pageFlat.html")
                h4 page Flat

            a.list-group-item(href="pages/pageContacts/pageContacts.html")
                h4 page Contacts

            a.list-group-item(href="pages/pageStructure/pageStructure.html")
                h4 page Structure

            a.list-group-item(href="pages/pageAbout/pageAbout.html")
                h4 page About project

            a.list-group-item(href="pages/pageAbout/pageBuy.html")
                h4 page About buy

            a.list-group-item(href="pages/pageAbout/pageDesign.html")
                h4 page About design

            a.list-group-item(href="pages/pageAbout/pageDocumentation.html")
                h4 page About documentation

            a.list-group-item(href="pages/pageAbout/pageNews.html")
                h4 page About news

            a.list-group-item(href="pages/pageAbout/pageNews-post.html")
                h4 page About news-post

            a.list-group-item(href="pages/pageAbout/pageStages.html")
                h4 page About Stages

static/html/index.html

<html ng-app="app">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>DEV</title>
    <!--choose theme http://www.bootstrapcdn.com/#bootswatch_tab-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/lumen/bootstrap.min.css"/>
    <script src="/static/vendor/jquery/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Верстка по макетам</h1>
      </div>
      <div class="list-group">
        <div class="list-group-item active">Pages</div><a href="pages/pageIndex/pageIndex.html" class="list-group-item">
          <h4>page Index</h4></a><a href="pages/pageFlat/pageFlat.html" class="list-group-item">
          <h4>page Flat</h4></a><a href="pages/pageContacts/pageContacts.html" class="list-group-item">
          <h4>page Contacts</h4></a><a href="pages/pageStructure/pageStructure.html" class="list-group-item">
          <h4>page Structure</h4></a><a href="pages/pageAbout/pageAbout.html" class="list-group-item">
          <h4>page About project</h4></a><a href="pages/pageAbout/pageBuy.html" class="list-group-item">
          <h4>page About buy</h4></a><a href="pages/pageAbout/pageDesign.html" class="list-group-item">
          <h4>page About design</h4></a><a href="pages/pageAbout/pageDocumentation.html" class="list-group-item">
          <h4>page About documentation</h4></a><a href="pages/pageAbout/pageNews.html" class="list-group-item">
          <h4>page About news</h4></a><a href="pages/pageAbout/pageNews-post.html" class="list-group-item">
          <h4>page About news-post</h4></a><a href="pages/pageAbout/pageStages.html" class="list-group-item">
          <h4>page About Stages</h4></a>
      </div>
    </div>
  </body>
</html>
